<!DOCTYPE html>
<html>
<head>
  <title>World Economic Index</title>
</head>
<body>
  <div id="wrapper-header">
    <header>
      <div id="nav">
        <ul>
          <li>The Cato Institute</li>
          <li>FEATURES: Economic Freedom Index</li>
          <li><a href="#">Menu <img src="assets/menu.png" id="menu-pic"></a></li>
        </ul>
      </div>
      <img src="assets/currencies-header.png" id="currencies-header">
    </header>
  </div>
  <div id="wrapper-body">
    <div id="wrapper-title">
      <h1>Economic Freedom Index</h1>
      <h2>An interactive graphic measures the dimensions of
        economic freedom through out the world.</h2>
      <p id="linebreak">_________________________________</p>
      <h3>Created by Katie Reed<h3>
      <h4>January 28, 2014</h4>
    </div>
    <hr></hr>

  </div>
</body>

</html>
