<!DOCTYPE html>
<html>
<head>
  <title>World Economic Index</title>
</head>
<body>
  <div id="wrapper-header">
    <header>
      <div id="nav">
        <ul>
          <li>Cato Institute Logo</li>
          <li>FEATURES: Economic Freedom Index</li>
          <li>Menu</li>
        </ul>
      </div>
      <img src="assets/currencies-header.png" id="currencies-header">
    </header>
  </div>
  <div id="wrapper-body">
    <h1>Economic Freedom Index</h1>
  </div>
</body>

</html>
