<!DOCTYPE html>
<html>
<head>
  <title>World Economic Index</title>
</head>
<body>
  <div id="wrapper-header">
    <header>
      <div id="nav">
        <ul><li>The Cato Institute</li>
          <li>
            FEATURES: Economic Freedom Index
          </li>
          <li>
            Menu
          </li>
          <li>
            <a href="#"><img src="assets/google-share.png" id="social"></a>
            <a href="#"><img src="assets/linkedin-share.png" id="social2"></a>
            <a href="#" id="social3"><img src="assets/comments-share.png" id="social4">324 Comments</a>
          </li>
        </ul>
      </div>
      <img src="assets/currencies-header.png" id="currencies-header">
    </header>
  </div>
  <div id="wrapper-body">
    <div id="wrapper-title">
      <h1>Economic Freedom Index</h1>
      <h2>An interactive graphic measures the dimensions of
        economic freedom through out the world.</h2>
      <p id="linebreak">_________________________________</p>
      <h3>Created by Katie Reed<h3>
      <h4>January 28, 2014</h4>
    </div>
    <hr></hr>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse viverra, turpis ac sodales vulputate, massa magna malesuada velit, quis rhoncus nunc elit sit amet libero. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam et odio eu nibh luctus lobortis sit amet eget risus. Quisque ligula dolor, elementum efficitur mattis id, tempor id leo. Aenean vestibulum vestibulum velit, id vulputate ante commodo id. Fusce in lacinia libero. Praesent gravida iaculis justo, varius facilisis sapien elementum non. In facilisis eros ut neque ullamcorper, vel consectetur eros luctus. Mauris porta tincidunt nunc sed porttitor. Quisque vulputate ut tellus vel hendrerit. Praesent venenatis justo id est commodo semper.
      <p>
        Pellentesque commodo erat ac augue faucibus egestas. Praesent mollis sit amet turpis a tempus. Mauris eleifend arcu sed quam ornare pulvinar. Etiam posuere sapien nisl. Nam urna odio, molestie nec libero ac, semper aliquet lectus. Phasellus congue orci est, nec gravida dui mattis id. Suspendisse turpis leo, accumsan at consequat vitae, pharetra non nunc. Vestibulum euismod in ipsum et luctus.
        <p>
          Maecenas egestas nunc et lorem mattis, sit amet interdum felis sodales. Duis porttitor luctus mauris, a blandit enim aliquam lobortis. Phasellus cursus fermentum sapien ut vehicula. Quisque porta vulputate urna nec aliquet. Mauris nec porttitor ipsum, eget sodales nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam ac nibh vitae ex laoreet ornare nec non mauris. Nunc magna massa, ornare eget arcu sed, fermentum ornare dolor. In sed velit nec urna vulputate suscipit eget sit amet lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget urna sed purus imperdiet tincidunt ut ut odio. Proin hendrerit porta ipsum, quis pellentesque risus scelerisque sit amet. Vivamus convallis, ex a laoreet sodales, nulla urna mollis leo, a accumsan ipsum ante eu odio. Phasellus egestas condimentum mattis. Vivamus in libero eu nulla feugiat porta quis ac risus.
          <p>
            Sed aliquam cursus luctus. Sed volutpat ut tortor ac mattis. Phasellus id nisi posuere, blandit velit a, scelerisque orci. Duis sollicitudin, ante a eleifend ultrices, justo ligula malesuada felis, sed tincidunt dolor elit sit amet dui. Vestibulum lectus enim, tincidunt eu velit nec, gravida convallis nunc. Morbi mattis ligula ut iaculis luctus. Aliquam pretium ex ut volutpat lobortis. Curabitur hendrerit pulvinar varius. Mauris eu augue dignissim erat faucibus maximus vitae ac augue. Sed lacus sapien, dictum et rutrum id, tincidunt eu lectus. Mauris luctus diam ut viverra finibus. Morbi rutrum nibh in euismod mollis. Duis vitae ex sit amet diam scelerisque lobortis vitae id nisi. Sed pellentesque aliquam felis, pharetra fringilla ex.
            <p>
              Donec sit amet sem ut nulla pellentesque euismod. Maecenas sit amet mauris a ligula lacinia porttitor eu ut lectus. Ut quam mauris, fringilla ac convallis ornare, tincidunt eu purus. Ut aliquam libero non ligula placerat efficitur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse vel eleifend felis. Vivamus sit amet est ex. Integer sed blandit lacus. Suspendisse in quam ac ante dapibus maximus. Mauris molestie felis quis dui venenatis efficitur eu at ligula. Quisque turpis arcu, cursus sed sollicitudin et, tincidunt in magna. Cras quis vestibulum est. Pellentesque mollis quis ex eget posuere. Aliquam sagittis risus sed leo finibus, et ultricies ante venenatis. Nam laoreet augue maximus volutpat molestie. Maecenas mollis est lacus, in aliquet purus ultricies et.
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse viverra, turpis ac sodales vulputate, massa magna malesuada velit, quis rhoncus nunc elit sit amet libero. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam et odio eu nibh luctus lobortis sit amet eget risus. Quisque ligula dolor, elementum efficitur mattis id, tempor id leo. Aenean vestibulum vestibulum velit, id vulputate ante commodo id. Fusce in lacinia libero. Praesent gravida iaculis justo, varius facilisis sapien elementum non. In facilisis eros ut neque ullamcorper, vel consectetur eros luctus. Mauris porta tincidunt nunc sed porttitor. Quisque vulputate ut tellus vel hendrerit. Praesent venenatis justo id est commodo semper.
                <p>
                  Pellentesque commodo erat ac augue faucibus egestas. Praesent mollis sit amet turpis a tempus. Mauris eleifend arcu sed quam ornare pulvinar. Etiam posuere sapien nisl. Nam urna odio, molestie nec libero ac, semper aliquet lectus. Phasellus congue orci est, nec gravida dui mattis id. Suspendisse turpis leo, accumsan at consequat vitae, pharetra non nunc. Vestibulum euismod in ipsum et luctus.
                  <p>
                    Maecenas egestas nunc et lorem mattis, sit amet interdum felis sodales. Duis porttitor luctus mauris, a blandit enim aliquam lobortis. Phasellus cursus fermentum sapien ut vehicula. Quisque porta vulputate urna nec aliquet. Mauris nec porttitor ipsum, eget sodales nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam ac nibh vitae ex laoreet ornare nec non mauris. Nunc magna massa, ornare eget arcu sed, fermentum ornare dolor. In sed velit nec urna vulputate suscipit eget sit amet lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget urna sed purus imperdiet tincidunt ut ut odio. Proin hendrerit porta ipsum, quis pellentesque risus scelerisque sit amet. Vivamus convallis, ex a laoreet sodales, nulla urna mollis leo, a accumsan ipsum ante eu odio. Phasellus egestas condimentum mattis. Vivamus in libero eu nulla feugiat porta quis ac risus.
                    <p>
                      Sed aliquam cursus luctus. Sed volutpat ut tortor ac mattis. Phasellus id nisi posuere, blandit velit a, scelerisque orci. Duis sollicitudin, ante a eleifend ultrices, justo ligula malesuada felis, sed tincidunt dolor elit sit amet dui. Vestibulum lectus enim, tincidunt eu velit nec, gravida convallis nunc. Morbi mattis ligula ut iaculis luctus. Aliquam pretium ex ut volutpat lobortis. Curabitur hendrerit pulvinar varius. Mauris eu augue dignissim erat faucibus maximus vitae ac augue. Sed lacus sapien, dictum et rutrum id, tincidunt eu lectus. Mauris luctus diam ut viverra finibus. Morbi rutrum nibh in euismod mollis. Duis vitae ex sit amet diam scelerisque lobortis vitae id nisi. Sed pellentesque aliquam felis, pharetra fringilla ex.
                      <p>
                        Donec sit amet sem ut nulla pellentesque euismod. Maecenas sit amet mauris a ligula lacinia porttitor eu ut lectus. Ut quam mauris, fringilla ac convallis ornare, tincidunt eu purus. Ut aliquam libero non ligula placerat efficitur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse vel eleifend felis. Vivamus sit amet est ex. Integer sed blandit lacus. Suspendisse in quam ac ante dapibus maximus. Mauris molestie felis quis dui venenatis efficitur eu at ligula. Quisque turpis arcu, cursus sed sollicitudin et, tincidunt in magna. Cras quis vestibulum est. Pellentesque mollis quis ex eget posuere. Aliquam sagittis risus sed leo finibus, et ultricies ante venenatis. Nam laoreet augue maximus volutpat molestie. Maecenas mollis est lacus, in aliquet purus ultricies et.


  </div>
</body>

</html>
